#Encabezado{
  margin: 0px;
  padding: 0px;
  height: 110px;
  background-color: #fff;
  background: url("Captura.PNG") round;
}
body {
    margin: 10px;
    padding: 5px;
    height: 100%;
    font-family: Calibri, Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: antiquewhite;
}
    .intro-text{
      margin: 10px 0px;
      padding: 0px;
      border: 2px solid rgb(0, 217, 255);
      color: #ffffff;
      background-color: rgb(0, 217, 255);
  }
  .Categorias{
      text-align:center;
      margin: 10px 0px;
      padding: 0px;
      border: 2px solid #0d0ae4;
      background-color: #ffffff;
      
  }
  .imagen-categoria{
      display: inline-flex;
      padding: 10px;
      width: 120px;
  }
  .imagen-categoria2{
    padding: 0px 10px;
    display: inline-flex;
  }
  .imagen-categoria3{
    display: block;
    padding: 0px 20px;
  }
  .GIF{
    display: inline-flex;
    width: 30px;
    height: 250px;
    padding: 5px 40px;
  }
.htext{
  text-align:center;
}
p {
          text-align:center;
          color: black;
}
.Formulario {
    width: 80%;
    height: 100%;
    background-color: #fff;
    margin: 10px auto;
    overflow: hidden;
    padding: 20px;
    color: #4c4e56;
}
.form-groups{
  width: 100%;
  height: 100%;      
  align-items: center;
  margin-top:20px;
  margin-bottom:10px;
  text-align: left;
  font-weight:bold;
}
.form-control {
  width: 100%;
  height: 35px;  
}
select {
    padding: 8px;
    margin-right: 10px;
}
.boton {
  width: 100%;
  height: 40px;      
  align-items: center;
  margin-top:10px;
  margin-bottom:10px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  color: #ffffff;
  background-color: rgb(238, 107, 0);
  cursor:pointer;
  border-radius: 15px;
  border: 2px solid rgb(238, 107, 0);
  letter-spacing: 1px;
  }
.boton:hover {
          background-color: rgb(253, 144, 2);
          border: 2px solid rgb(253, 144, 2);
  }